*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Rose', cursive;
}

.hero{
    min-height: 100vh;
    background: url("../images/hero.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 3rem;
    color: #fff;
}
.girl{
    position: absolute;
    width: 585px;
    height: 288px;
    left: 1583px;
    top: 1386px;
}

.the-team-section {
    width: 60%;
    text-align: center;
    margin: 2% auto;
}

.the-team-heading {
    font-size: 2.2rem;
}

.member {
    text-align: center;
    float: left;
    margin: 1% 6.2%;
}

.member-img {
    border-radius: 50%;
    height: 10rem;
}

.member-name {
    font-size: 1.2rem;
    color: #000000;
    font-family: 'Red Rose', cursive;
}